#user-list {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-size: xx-large;
    margin: 20px auto;
}

tr {
    text-align: left;
}

td:not(:nth-child(1)) {
    text-align: right;
}

#user-list-items tr:nth-child(even) {
    background-color: #f2f2f2;
}

#user-list-items tr:nth-child(odd) {
    background-color: #fff;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: x-large;
    border-radius: 5px;
}

#register-link-copy.copied {
    background-color: rgb(70, 202, 63);
    transition: all 0.1s ease-out;
}

#register-link-copy.copied:hover {
    background-color: rgb(80, 215, 73);
}

#register-link-copy:not(.copied) #svg-copied,
#register-link-copy.copied #svg-copy {
    display: none;
}

#register-link-section-alignment {
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 10px;
}

#link-display {
    display: flex;
    align-items: center;
    font-size: smaller;
    white-space: nowrap;
    overflow: auto;
}