#hamburger {
    float: left;
    font-size: x-large;
}

#hamburger-svg  {
    transition: transform 0.2s;
}

#hamburger:hover #hamburger-svg,
#hamburger.active #hamburger-svg {
    transform: translate(0.7em, 0.4em) rotate(90deg);
}

#hamburger-menu {
    display: none;
    position: absolute;
    border: 0.2em solid black;
    border-radius: 0.3em;
    margin-top: -0.4em;
    margin-left: -0.2em;
    padding: 0.5em;
    padding-top: 3em;
    min-width: 3em;
    font-size: x-large;
    background-color: #ddd;
}

#hamburger:hover #hamburger-menu,
#hamburger.active #hamburger-menu{
    display: inherit;
}

#hamburger-menu a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    padding-right: 1.3em;
    color: black;
    transition: all 0.2s;
    border-radius: 0.5em;
}

#hamburger-menu a:hover {
    background-color: #aaa;
    padding-left: 0.9em;
    padding-right: 0.9em;
}