<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='common.css')}}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <main class="content-centered"><div id="content" onclick="void(0)">{% block content %}{% endblock %}</div></main>
        <div id="modals">{% block modals %}{% endblock %}</div>
    </body>
</html>
