{% extends "base.html" %} {% block head %}
<title>Register</title>
<meta content="Register an account" property="og:title" />
<meta content="Upload and Share files by signing up using this link" property="og:description" />
<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}" />
<script src="{{url_for('static', filename='form.js')}}"></script>
{% endblock %} {% block content %}
<div class="content-centered"><h1>Register</h1></div>
<form id="register-form" action="{{url_for('auth.api.register')}}" method="post">
    <label for="username">
        <span class="field-info">Username <span class="field-error">Username required</span></span>
        <input type="text" id="username" name="username" />
    </label>

    <label for="password">
        <span class="field-info">Password <span class="field-error">Password required</span></span>
        <input type="password" id="password" name="password" />
    </label>

    <label for="confirm-password">
        <span class="field-info">Confirm Password <span class="field-error">Passwords must match</span></span>
        <input type="password" id="confirm-password" name="confirm-password" />
    </label>

    <input type="hidden" name="register-key" value="{{register_key}}" />

    <button id="register-submit" class="mo-button action-button" type="submit">Register</button>
</form>

<script>
    submitButton("register-submit", usernameInput("username"), confirmPasswordInput("password", "confirm-password"));
</script>
{% endblock %}
