{% extends "base.html" %} {% block head %}
<title>Reset Password</title>
<meta content="Reset Password" property="og:title" />
<meta content="Reset your Password using this link" property="og:description" />
<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}" />
<script src="{{url_for('static', filename='form.js')}}"></script>
{% endblock %} {% block content %}
<div class="content-centered"><h1>Reset Password</h1></div>
<form id="reset-form" action="{{url_for('auth.api.reset_password')}}" method="post">
    {% if reset_key %}
    <input type="hidden" name="reset-key" value="{{reset_key}}" />
    {% else %}
    <label for="password">
        <span class="field-info">Old Password <span class="field-error">Password required</span></span>
        <input type="password" id="password" name="password" />
    </label>
    {% endif %}

    <label for="new-password">
        <span class="field-info">New Password <span class="field-error">Password required</span></span>
        <input type="password" id="new-password" name="new-password" />
    </label>

    <label for="confirm-new-password">
        <span class="field-info">Confirm Password <span class="field-error">Passwords must match</span></span>
        <input type="password" id="confirm-new-password" name="confirm-password" />
    </label>

    <input type="hidden" name="register-key" value="{{register_key}}" />

    <button id="reset-submit" class="mo-button action-button" type="submit">Reset</button>
</form>

<script>
    submitButton(
        "reset-submit",
        /*{% if not reset_key %}*/
        requiredInput("password"),
        /*{% endif %}*/
        confirmPasswordInput("new-password", "confirm-new-password")
    );
</script>
{% endblock %}
